<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">D:\project\servlet\src\main\webapp\config\logs</Property>
    </Properties> 

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %-5p %c{1} - %m%n"/>
        </Console>
 
       <!--  <RollingFile name="RollingFileAppender" fileName="${log-path}/pgauth.log" filePattern="${log-path}/pgauth.log.%d{MM-dd-yyyy}">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss,SSS} %C{1} %-5p [%t] - %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile> -->
        <RollingFile name="AuthEventAppender" fileName="${log-path}/access_request.log" filePattern= "${log-path}/access_request_%d{yyyy-MM-dd}_%i.log">
        <PatternLayout>
                <Pattern>%m</Pattern>
                
            </PatternLayout>
          <!--   <Policies>
            <SizeBasedTriggeringPolicy size="1 KB" />
            </Policies>
           --> 
           
           <Policies>
        <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy />
    </Policies>
            
        </RollingFile>
        
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="ERROR"/>
       
        <Logger name="org.apache.commons" level="ERROR"/>
        <Logger name="org.sample" level="DEBUG" >
       		 <appender-ref ref="AuthEventAppender"/> 
        </Logger>
        <Logger name="com.couchbase.client" level="ERROR" />
        <Logger name="org.apache.http" level="ERROR" />
        
        <AsyncRoot level="info" includeLocation="true">
            <!-- <AppenderRef ref="AuthEventAppender"/>  -->
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncRoot>

        <!--<Root level="DEBUG">-->
        <!--<AppenderRef ref="ConsoleAppender"/>-->
        <!--<AppenderRef ref="RollingFileAppender"/>-->
        <!--</Root>-->
    </Loggers>
</Configuration>