<?xml version="1.0" encoding="UTF-8"?>
<Configuration><!-- status = "debug" -->
    <Properties>
        <Property name="log-path">${web:contextPath}/logs</Property>
        <property name="archive-path">${web:contextPath}/logs</property>
        <property name="host-name">${hostName}</property>
    </Properties> 
	
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%t] %-5p %c{1} - %m%n"/>
        </Console>
 
        <!-- yymmddhh MM-dd-yyyy-HH-mm   
        ${log-path}/${host-name}~table_name~.%d{yyMMddHH}  
         ${log-path}/myexample-%d{yyyy-MM-dd}-%i.log
          ${log-path}/auth_request-%d{yyyy-MM-dd-HH-mm-ss}-%i.log-->
          
        <RollingFile name="AuthEventAppender" fileName="${log-path}/myexample.log" filePattern="${archive-path}/${host-name}~PGAUTH-DRMS~.%d{yyMMddHHmm}.log.zip">
        	<PatternLayout>
                <Pattern>%m:;:</Pattern>
        	</PatternLayout>
            <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="false"/> 
           <!--  <SizeBasedTriggeringPolicy size="10 KB" /> -->
            </Policies>
           <DefaultRolloverStrategy compressionLevel="9"/> 
          </RollingFile>
          
            <!--  <Policies>
                <SizeBasedTriggeringPolicy size="1 GB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="20"/> -->
           
       <!--     <Policies>
        <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy />
    </Policies> -->
            
       <!--  </RollingFile> -->
        
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="ERROR"/>
       
        <Logger name="org.apache.commons" level="ERROR"/>
        <Logger name="EventLogger" level="INFO" >
       		 <appender-ref ref="AuthEventAppender"/> 
        </Logger>
        <Logger name="com.couchbase.client" level="ERROR" />
        <Logger name="org.apache.http" level="ERROR" />
        
        <AsyncRoot level="debug" includeLocation="true">
            <!-- <AppenderRef ref="AuthEventAppender"/>  -->
            <AppenderRef ref="ConsoleAppender"/>
        </AsyncRoot>

        <!--<Root level="DEBUG">-->
        <!--<AppenderRef ref="ConsoleAppender"/>-->
        <!--<AppenderRef ref="RollingFileAppender"/>-->
        <!--</Root>-->
    </Loggers>
</Configuration>